/*thanks to:
https://leaverou.github.io/css3patterns/# for the stars pattern
https://cssgradient.io/ for making easy gradients
https://codepen.io/sdthornton/pen/wBZdXq for material box-shadows
http://jsfiddle.net/ayhj9vb0/ for blur effect
*/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #6d6d6d;
}
.view{
  margin:15px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.view h1{
  text-align: center;
}
.view p{
  padding:15px;
}
.about-section p {
  margin-top: 5em;
}
.CompanyLogo{
  box-sizing: content-box;
  border-radius: 5px;
  margin:5px;
  margin-top: 70px;
  border:solid 5px #1b1b1b;
  opacity:0.8;
  float:right;
  width:300px;
  height:auto;
}
.generation{
  text-align:initial;
  margin:3px;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 15px;
  color:white;
  background-color: #263238;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.generation hr{
  margin-top: 5px;
  opacity:0.4;
}
.generation-panel{
  color:white;
  background-color: #4f5b62;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  overflow: hidden;
}
.generation-panel h1, h2, h3, h4, h5, p{
  font-weight: lighter;
}
h1, h2 {
  font-family: 'Press Start 2P', cursive;
}
.generation-panel-title{
  font-family: 'Press Start 2P', cursive;
  padding:10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  text-shadow: -4px 3px 0px rgba(0,0,0,0.25);
}
.generation h3, h5, p{
  opacity: 0.9;
}
.generations-wrapper{
  max-height: 80vh;
  overflow-y: scroll;
}
.home-screen{
  position:relative;
  display:flex !important;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  height:50vh;
  padding:10px;
  width:100%;
  background: linear-gradient(0deg, rgba(38,50,56,1) 0%, rgba(0,10,18,1) 56%);
  box-shadow: inset 0 0px 38px rgba(0,0,0,0.5), inset 0 0px 12px rgba(0,0,0,0.5);
}
.home-stars{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  z-index:0;
  position:absolute;
  width:inherit;
  height:inherit;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  animation-name: star-animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transition: opacity 0.1s;
}
@keyframes star-animation {
  10%{
    opacity:1;
  }
  15%{
    opacity:0.8;
  }
  25%{
    opacity:1;
  }
  30%{
    opacity:0.8;
  }
  35%{
    opacity:1;
  }
}
.home-title{
  position:absolute;
  color:white;
  font-size: large;
  opacity:0.8;
  text-shadow: -4px 3px 0px rgba(0,0,0,0.25);
  z-index:2;
}
.raven-drawing{
  max-width: 50vw;
  max-height:50vh;
  min-width:45vh;
  height:auto;
  position: absolute;
  left:-5vw;
  z-index:1;
  bottom:-10vh;
}
@media (max-width:800px) {
  .onbig{
    display:none !important;
  }
  .onsmall{
    display:initial;
  }
  .CompanyLogo{
    width:40%;
    float:left;
  }
  .about-section{
    margin:0 !important;
  }
  .home-title{
    position:initial;
    color:black;
    text-shadow: none;
  }
}
@media (min-width:800px) {
  .onbig{
    display:initial;
  }
  .onsmall{
    display:none;
  }
}